/* Realiza a importação de uma família de fontes do Google*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Define as variáveis para utilização de cores*/
:root {
  --cor-fundo: rgb(90, 226, 187);
  --cor-main: rgb(65, 120, 209);
  --cor-main-dark: rgb(21, 27, 205);
  --cor-fonte: rgb(255 255 255);
  --jogadorX: rgb(100 100 100);
}

/* Realiza o reset das configurações do navegador*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', cursive;
  outline: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

/* Ajusta as configurações do container*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cria o tabuleiro utilizando grid*/
.tabuleiro {
  background: var(--cor-main);  
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  max-width: 450px;
  margin-top: 10px;
}

/* Ajusta as 09 divisões do tabuleiro*/
.grid {
  border: 1px inset;
  min-width: 150px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  cursor: pointer;
}

button {
  margin-top: 20px;
  background: var(--cor-main);
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
}