/* Altera a exibição do checkbox*/
#check {
  display: none;
}

/* Definiões do label*/
#icone {
  cursor: pointer;
  padding: 32px;
  position: fixed;
  z-index: 1;
  border: 1px var(--cor-main-dark);
  top: 20px;
  left: 20px;
}

/* Define as configurações da barra de menu*/
.barra {
  background-color: var(--cor-main);
  height: 100%;
  width: 250px;
  position: fixed;
  transition: all .2s linear;
  left: -250px;
}

/* Define a barra de navegação*/
nav {
  width: 100%;
  position: absolute;
  top: 80px;
}

/* Altera o comportamento do link*/
nav a {
  text-decoration: none;
}

/* Configura a class Link dos itens do menu*/
.Link {
  background-color: var(-cor-main-dark);
  padding: 20px;
  font-family: 'Gotham';
  font-size: 16pt;
  transition: all .3s linear;
  color: var(--cor-fonte);
  border-bottom: 1px solid #0998d3;
  opacity: 0;
}

.Link:hover {
  background-color: #076992;
  color: #ffffff;
}

#check:checked~.barra {
  transform: translateX(250px);
}

#check:checked~.barra nav a .Link {
  opacity: 1;
  transition-delay: .3s;
}

/* Define as configurações do menu hamburguer
   feitas com o elemento Label */
#menu-hamburguer {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 25px;
  left: 25px;
}

/* Define as configurações do menu hamburguer
   feitas com o elemento Span */
.hamburguer {
  position: relative;
  display: block;
  background: var(--cor-main-dark);
  width: 30px;
  height: 3px;
  top: 29px;
  left: 15px;
  transition: .5s ease-in-out;
}

/* Altera os efeitos do antes e depois*/
.hamburguer:before,
.hamburguer:after {
  background: var(--cor-main-dark);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: .5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

/* Modifica o checkbox e o elemento label por aproximação*/
input:checked~label .hamburguer {
  transform: rotate(45deg);
}

input:checked~label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked~label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}